<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Customer Login</title>
</head>
<body>
  <h1>Customer Login</h1>

  <br/>
  <!-- Need URL for link -->
  <form>
  	<label for="name">Name</label>
  	<input id="name"></input>
  	<label for="password">Password</label>
  	<input id="password"></input>
  	<input type="submit" value="Log in">
  </form>
  
  
  
  <a th:href="@{/browseCustomers}">Browse Customers</a>

  <div th:include="footer :: content"></div>
</body>
</html>